.info {
  margin: 1%;
  padding: 1%;
  text-align: center;
  border-bottom: 2px dashed grey;
}
.info a {
  text-decoration: none;
}
.info h1 {
  font-size: 2.2rem;
  padding-bottom: 1%;
}
.info h2 {
  font-size: 1.6rem;
  padding-bottom: 1%;
}
.info h3 {
  font-size: 1.5rem;
}
.navBar {
  border: 2px dashed grey;
  display: flex;
  margin: 1%;
  padding: 1%;
  justify-content: space-between;
}
.navBar i {
  font-size: 35px;
  padding: 1%;
}
.navBar .logo {
  align-content: center;
  margin: 1%;
  padding: 2%;
}
.navBar .nav {
  display: flex;
  margin: 1%;
  padding: 1%;
  padding-top: 15%;
  justify-content: space-evenly;
}
.navBar .nav li {
  padding: 3%;
  margin: 0 15%;
  font-size: 1.5rem;
  justify-content: space-between;
}
.navBar .nav li a {
  text-decoration: none;
}
.navBar .social {
  align-content: center;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
.footer {
  text-align: center;
  padding: 2%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 1% 3%;
  padding: 1% 2%;
}
.about {
  border-bottom: 2px dashed grey;
  display: flex;
}
.about p {
  border: 2px dashed grey;
  width: 50%;
  margin: 5%;
  padding: 2%;
  font-size: 1.8rem;
  text-align: center;
}
.about img {
  position: initial;
  clip: rect(100px, 0px, 100px, 0px);
  margin: 5%;
}
.portfolio {
  border-bottom: 2px dashed grey;
}
.portfolio div {
  border: 2px dashed grey;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 1%;
  padding: 1%;
}
.portfolio .portOne {
  width: 50%;
  margin: 5%;
  padding: 2%;
  align-content: center;
  margin-left: 25%;
  font-size: 1.5rem;
}
.portfolio .portTwo {
  width: 50%;
  margin: 5%;
  padding: 2%;
  align-content: center;
  margin-left: 25%;
  font-size: 1.5rem;
}
.portfolio .portThree {
  width: 50%;
  margin: 5%;
  padding: 2%;
  align-content: center;
  margin-left: 25%;
  font-size: 1.5rem;
}
.portfolio .portFour {
  width: 50%;
  margin: 5%;
  padding: 2%;
  align-content: center;
  margin-left: 25%;
  font-size: 1.5rem;
}
.portfolio .portFive {
  width: 50%;
  margin: 5%;
  padding: 2%;
  align-content: center;
  margin-left: 25%;
  font-size: 1.5rem;
}
.portfolio .portSix {
  width: 50%;
  margin: 5%;
  padding: 2%;
  align-content: center;
  margin-left: 25%;
  font-size: 1.5rem;
}
.comic {
  display: flex;
  border-bottom: 2px dashed grey;
}
.comic .panel {
  border: 2px dashed grey;
  width: 50%;
  margin: 2%;
  padding: 2%;
  text-align: center;
}
.comic .notes {
  border: 2px dashed grey;
  width: 50%;
  margin: 2%;
  padding: 1%;
  text-align: center;
}
.comic .notes p {
  padding: 5%;
  margin: 2%;
}
.comic .comments {
  margin: 1%;
}
.contact {
  border-bottom: 2px dashed grey;
  display: flex;
  justify-content: space-between;
}
.contact .blurb {
  width: 50%;
  margin: 2%;
  padding: 2%;
  border: 2px dashed grey;
}
.contact .blurb p {
  margin: 2%;
  padding: 2%;
  font-size: 1.5rem;
  text-align: center;
}
.contact form {
  margin: 2%;
  padding: 15;
}
