// importing other less files

@import 'comic';
@import 'contact';
@import 'header';
@import 'mixins';
@import 'navigation';
@import 'project';
@import 'reset';
@import 'variables';

body{
    margin: 1% 3%;
    padding: 1% 2%;
}

//about section
.about{
    // border: @test-border;
    // background-color: @test-background;

    border-bottom: @section-border;

    display: flex;

    p {
        border: @section-border;

        width: 50%;
        margin: 5%;
        padding: 2%;
        font-size: 1.8rem;
        text-align: center;
        
    }

    img {
        position: initial;
        clip: rect(100px,0px,100px,0px);
        margin: 5%;
    }
}

//project section
.portfolio{

    border-bottom: @section-border;
    // background-color: @test-background;

    // display: flex;

    
    div {

        border: @section-border;
        display: flex;
        flex-flow: column wrap;
        align-content: center;

        margin: 1%;
        padding: 1%;
    }

    .portOne {
        .portSettings();
    }

    .portTwo {
        .portSettings();
    }
    
    .portThree {
        .portSettings();
    }

    .portFour {
        .portSettings();
    }

    .portFive {
        .portSettings();
    }

    .portSix {
        .portSettings();
    }
}

//comic

.comic{
    display: flex;
    border-bottom: @section-border;

    // border: @test-border;
    // background-color: @test-background;

    .panel {
        border: @section-border;
        width: 50%;
        margin: 2%;
        padding: 2%;
        text-align: center;
    }

    .notes{
        border: @section-border;
        width: 50%;
        margin: 2%;
        padding: 1%;
        text-align: center;

        p {
            padding: 5%;
            margin: 2%;
        }
    }

    .comments{
        margin: 1%;
    }
}

//contact

.contact{
    border-bottom: @section-border;

    display: flex;
    justify-content: space-between;

    .blurb{
        width: 50%;
        margin: 2%;
        padding: 2%;

        border: @section-border;
        // background-color: @test-background;

        p {
            margin: 2%;
            padding: 2%;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    form{
        margin: 2%;
        padding: 15;
    }
}