.navBar{
   background-color: red;
   border: @test-border;

   display: flex;
   margin: 1%;
   padding: 1%;
   justify-content: space-between;

   i {
       font-size: 30px;
       padding: 1%;
   }

   .nav{
       display: flex;
       margin: 1%;
       padding: 1%;
       justify-content: space-evenly;

       li{
           padding: 3%;
        //    margin: 15%;
           font-size: 1.5rem;

           a{
            text-decoration: none;
           }
       }
   }

}